<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lening.mapper.PlayerMapper">
    <select id="getAll" resultType="Player">
        SELECT
	t_player.id,
	t_player.`name`,
	t_player.age,
	t_player.birthday,
	t_school.sname,
	t_team.tname
FROM
	t_player,
	t_team,
	t_school
WHERE
	t_player.sid = t_school.sid
	AND t_player.tid = t_team.tid;
    </select>
	<delete id="dele">
		delete from t_player where id in
		<foreach collection="array" open="(" close=")" separator="," item="array">
			#{array}
		</foreach>
	</delete>
</mapper>